[Desktop Entry]
Name=GruvboxDark
X-KDE-PluginInfo-Author=aishik999
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=aishikm2002@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=GruvboxDark
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/AISHIK999/scripts-n-dotfiles